* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Figtree", sans-serif;
  height: 100vh;
  background-color: hsl(47, 88%, 63%);
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.card {
  border: 2px solid black;
  background-color: hsl(0, 0%, 100%);
  width: 360px;
  padding: 24px;
  border-radius: 15px;
  box-shadow: 8px 8px 0 hsl(0, 0%, 7%);
}
/*------card-image------*/
.illustration {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 19.2px;
}

/*--------card-header-------*/
.card-header {
  margin-bottom: 16px;
}
.highlighted {
  background-color: hsl(47, 88%, 63%);
  font-weight: 700;
  padding: 6px 14px;
  border-radius: 5px;
}
.top {
  margin-top: 1.25rem;
  color: hsl(0, 0%, 7%);
  font-size: 0.9rem;
}
/*-------card-body-------*/
.bottom {
  margin-bottom: 20px;
  line-height: 1.5;
  color: hsl(0, 0%, 42%);
}
h2 {
  margin-bottom: 20px;
}
/*-------card-footer---------*/
.card-footer {
  display: flex;
  align-items: center;
  margin-top: 1.25rem;
  gap: 0.8rem;
}
.avatar {
  width: 28px;
}
.name {
  font-weight: 800;
  font-size: 0.95rem;
}
/*---avtive-effect----*/
h2:hover {
  color: hsl(47, 88%, 63%);
}
/*----responsiveness*-----*/
@media screen and (max-width: 764px) {
  body {
    padding: 2rem 1rem;
  }
  .card {
    width: 100%;
    padding: 1.2rem;
  }
}
